.navButton {
  width: 10%;
  height: 100%;
  text-align: justify;
}

.navButton button {
  color: whitesmoke;
  display: block;
  width: 100%;
  height: 100%;
  border-color: transparent;
  background-color: transparent;
  font-size: 1em;
}

.navButton {
  display: inline-block;
  position: relative;
  margin-right: 1em;
}

.navButton::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pink);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/*Underline animation from: https://www.30secondsofcode.org/css/s/hover-underline-animation/*/
.navButton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
