.navBar .navHome {
  display: flex;
  justify-content: center;
  width: 5%;
  height: 100%;
  margin: 0 1em 0 1em;
}

.navBar .navHome a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar .navHome img {
  height: 70%;
}

/*Remove the blue link line under a link element and the pointer*/
.navBar a,
.taskBar a,
.navBar button {
  text-decoration: none;
  cursor: none;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 3em;
  opacity: 85%;
  z-index: 1;
}

.navBar:hover {
  background-color: var(--accent-purple);
  transition: background-color 1s;
}