/*Styling for the words in the middle; the component 'TypeWriter'*/
.typeWriter h1 {
  display: inline;
  font-size: 3em;
}

.typeWriter {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.typist {
  color: #9d5da5e5;
  font-size: xx-large;
  font-weight: bolder;
}
