/*Styling for the words in the middle; the component 'TypeWriter'*/
.typeWriter h1 {
  display: inline;
}

.typeWriter {
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.typist {
  color: #45164be5;
  font-size: xx-large; 
  font-weight: bolder;
}
